@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: inherit;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.app {
    background-image: url("../img/img.jpg");
    background-repeat: repeat;
    background-size: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
}

.contain {
    margin: 10%;
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
}

.header {
    color: red;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 3px 3px black;
}

.header-title {
    margin-top: 0;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px red;
}

.btnStart {
    color: #fff;
    border-radius: 10px;
    background-color: red;
    font-size: 20px;
    min-width: 15px;
    padding: 5px 10px;
    box-shadow: 5px 5px 0 rgba(100, 100, 100, 1);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    width: 15%;
    min-width: 80px;
    cursor: pointer;
}

.btnStart:active {
    box-shadow: 2px 2px 0 rgba(100, 100, 100, 1);
    transform: translate(3px, 3px);
}

.btnAdmin {
    color: #fff;
    border-radius: 10px;
    background-color: rgb(4, 95, 231);
    font-size: 20px;
    min-width: 15px;
    padding: 5px 10px;
    box-shadow: 5px 5px 0 rgba(100, 100, 100, 1);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    width: 15%;
    min-width: 80px;
    cursor: pointer;
}

.btnAdmin:active {
    box-shadow: 2px 2px 0 rgba(100, 100, 100, 1);
    transform: translate(3px, 3px);
}

.label {
    width: 100%;
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.border {
    color: rgb(1, 15, 4);
    text-shadow: 0px 1px black;
    background-color: rgb(243, 241, 120);
    width: 30%;
    margin-top: 8%;
    margin-left: 36%;
    overflow: hidden;
    border-radius: 10px;
    border-color: rgb(6, 97, 29);
    animation: modalFadeIn ease 1s;
}

@media screen and (max-width: 768px) {
    .border {
        min-width: 300px;
        margin-top: 30%;
        margin-left: 15%;
    }
    .login {
        width: 100%;
    }
    .title {
        width: 60%;
        font-size: 15px;
        margin-left: -5px;
    }
    .home {
        width: 100%
    }
}

.title {
    padding-left: 80px;
    margin-top: 80px;
}

.login {
    margin: 25%;
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#username {
    margin-top: 10px;
}

#password {
    margin-top: 10px;
}

.btnLogin {
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-300px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btnLogin:active {
    box-shadow: 2px 2px 0 rgba(100, 100, 100, 1);
    transform: translate(3px, 3px);
}

.home {
    margin: 10px;
    cursor: pointer;
}

.home:active {
    box-shadow: 2px 2px 0 rgba(100, 100, 100, 1);
    transform: translate(3px, 3px);
}