.page-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrapper .question-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10%;
  width: 80%;
  height: 70%;
  padding: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(216, 6, 76, 0.6), 0 10px 10px rgba(0, 0, 0, 0.55);
          box-shadow: 0 14px 28px rgba(216, 6, 76, 0.6), 0 10px 10px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain {
    width: 95%;
    height: 80%;
  }
}

.page-wrapper .question-contain .question-count {
  font-size: 30px;
  margin: 10px;
  color: red;
}

.page-wrapper .question-contain .question-tittle {
  font-size: 26px;
  margin-bottom: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  outline: none;
  color: red;
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain .question-tittle {
    width: 95%;
    height: 80%;
  }
}

.page-wrapper .question-contain textarea {
  border-style: hidden;
}

@media screen and (max-width: 400px) {
  .page-wrapper .question-contain textarea {
    width: 80%;
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .page-wrapper .question-contain textarea {
    width: 80%;
    height: 20%;
    font-size: 25px;
  }
}

.page-wrapper .question-contain input {
  border-style: hidden;
  background-color: #eee;
}

.page-wrapper .question-contain .question-answer-list {
  margin: 0;
  width: 30%;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain .question-answer-list {
    width: 80%;
  }
}

.page-wrapper .question-contain .question-answer-list .answer-item {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-wrapper .question-contain .question-answer-list .answer-item:not(:first-child) {
  margin-top: 10px;
}

.page-wrapper .question-contain .question-answer-list .answer-item input:not([input=radio]) {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .page-wrapper .question-contain .question-answer-list .answer-item input:not([input=radio]) {
    width: 100%;
  }
}

.page-wrapper .question-contain .question-answer-list .answer-item input[type="radio"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.page-wrapper .question-contain .endgame {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-wrapper .question-contain .update {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain .update {
    width: 100%;
  }
}

.page-wrapper .question-contain .endAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain .endAdmin {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain .endAdmin .btnClear {
    width: 60%;
    margin: 0;
  }
}

.page-wrapper .question-contain .endAdmin .btnLogout {
  margin-left: 435px;
}

@media screen and (max-width: 768px) {
  .page-wrapper .question-contain .endAdmin .btnLogout {
    width: 60%;
    margin: 0;
    margin-left: 50px;
  }
}

.page-wrapper .question-contain .btn {
  font-size: 1.3em;
  border-radius: 10px;
  min-width: 15px;
  padding: 5px 10px;
  -webkit-box-shadow: 5px 5px 0 #646464;
          box-shadow: 5px 5px 0 #646464;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.page-wrapper .question-contain .btn:hover {
  cursor: pointer;
}

.page-wrapper .question-contain .btn:active {
  -webkit-box-shadow: 2px 2px 0 #646464;
          box-shadow: 2px 2px 0 #646464;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.page-wrapper .question-contain .yellow {
  background-color: yellow;
}

.page-wrapper .question-contain .red {
  background-color: red;
}

.page-wrapper .question-contain .green {
  background-color: lightgreen;
}

.animate {
  -webkit-animation: 2s drop ease;
          animation: 2s drop ease;
}

@-webkit-keyframes drop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes drop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=template.css.map */