.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .question-contain {
        display: flex;
        margin: 10%;
        width: 80%;
        height: 70%;
        padding: 15px;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(216, 6, 76, 0.6), 0 10px 10px rgba(0, 0, 0, 0.55);
        @media screen and (max-width: 768px) {
            width: 95%;
            height: 80%;
        }
        .question-count {
            font-size: 30px;
            margin: 10px;
            color: red;
        }
        .question-tittle {
            font-size: 26px;
            margin-bottom: 0;
            width: 100%;
            height: 20%;
            text-align: center;
            outline: none;
            color: red;
            @media screen and (max-width: 768px) {
                width: 95%;
                height: 80%;
            }
        }
        textarea {
            @media screen and (max-width: 400px) {
                width: 80%;
                font-size: 25px;
            }
            @media screen and (max-width: 900px) {
                width: 80%;
                height: 20%;
                font-size: 25px;
            }
            border-style: hidden;
        }
        input {
            border-style: hidden;
            background-color: #eee;
        }
        .question-answer-list {
            margin: 0;
            width: 30%;
            list-style: none;
            padding: 0;
            @media screen and (max-width: 768px) {
                width: 80%;
            }
            .answer-item {
                margin-top: 6px;
                display: flex;
                &:not(:first-child) {
                    margin-top: 10px;
                }
                input {
                    &:not([input=radio]) {
                        font-size: 1.2em;
                        width: 100%;
                        text-align: center;
                        @media screen and (max-width: 600px) {
                            width: 100%;
                        }
                    }
                    &[type="radio"] {
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .endgame {
            width: 80%;
            margin-top: 10px;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .update {
            width: 60%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-around;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        .endAdmin {
            display: flex;
            justify-content: space-evenly;
            width: 60%;
            margin: 0;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            .btnClear {
                @media screen and (max-width: 768px) {
                    width: 60%;
                    margin: 0;
                }
            }
            .btnLogout {
                margin-left: 435px;
                @media screen and (max-width: 768px) {
                    width: 60%;
                    margin: 0;
                    margin-left: 50px;
                }
            }
        }
        .btn {
            font-size: 1.3em;
            border-radius: 10px;
            min-width: 15px;
            padding: 5px 10px;
            box-shadow: 5px 5px 0 rgba(100, 100, 100, 1);
            border-top: 1px solid gray;
            border-left: 1px solid gray;
            &:hover {
                cursor: pointer;
            }
            &:active {
                box-shadow: 2px 2px 0 rgba(100, 100, 100, 1);
                transform: translate(3px, 3px);
            }
        }
        .yellow {
            background-color: yellow;
        }
        .red {
            background-color: red;
        }
        .green {
            background-color: lightgreen;
        }
    }
}

.animate {
    animation: 2s drop ease;
}

@keyframes drop {
    from {
        opacity: 0;
        transform: translateY(-200px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}