.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .question-contain {
        margin: 10%;
        width: 80%;
        height: 60%;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(216, 6, 76, 0.6), 0 10px 10px rgba(0, 0, 0, 0.55);
        @media screen and (max-width: 768px) {
            width: 95%;
            height: 80%;
        }
        .question-count {
            font-size: 30px;
        }
        .question-tittle {
            font-size: 30px;
            margin-bottom: 0;
        }
        .question-answer-list {
            margin: 0;
            width: 30%;
            list-style: none;
            padding: 0;
            @media screen and (max-width: 768px) {
                width: 80%;
            }
            .answer-item {
                display: flex;
                &:not(:first-child) {
                    margin-top: 10px;
                }
                input {
                    &:not([input=radio]) {
                        font-size: 1.2em;
                        width: 100%;
                        text-align: center;
                    }
                    &[type="radio"] {
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .endgame {
            width: 80%;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .btn {
            border-radius: 10px;
            font-size: 1.3em;
            min-width: 15px;
            padding: 5px 10px;
            box-shadow: 5px 5px 0 rgba(100, 100, 100, 1);
            border-top: 1px solid gray;
            border-left: 1px solid gray;
            &:hover {
                cursor: pointer;
            }
            &:active {
                box-shadow: 2px 2px 0 rgba(100, 100, 100, 1);
                transform: translate(3px, 3px);
            }
        }
        .red {
            background-color: red;
        }
        .green {
            background-color: lightgreen;
        }
    }
}

.animate {
    animation: 3s drop;
}

@keyframes drop {
    0% {
        top: -150px;
    }
    100% {
        top: 50%;
    }
}